Repository mwootendev/ngx-translate-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng lint ngx-translate-plugins --fix --files, ng lint testing --fix, ng lint missing-translations --fix

Upgrade Angular 12 : Upgrade core-js to v3
  package.json
  yarn.lock
Due: none

37 - Fixes ngx-translate-testing Test Cases
  projects/testing/src/test.ts
Due: prettier --write, ng lint testing --fix

Update to Angular 13
  package.json
  projects/testing/package.json
Due: none

Update readme and package versions
  projects/testing/README.md
  projects/testing/package.json
Due: none

Update to Angular 13 (#43)
  package.json
  projects/testing/README.md
  projects/testing/package.json
Due: none

RELEASE - ngx-translate-testing 6.0.0
  package.json
  projects/testing/README.md
Due: none

50 - Enable Ivy Package Support
  package.json
  projects/testing/package.json
  projects/testing/tsconfig.lib.json
  yarn.lock
Due: none

Update LanguageTranslation to allow a string array value
  projects/testing/src/lib/translations.model.ts
Due: prettier --write, ng lint testing --fix

Angular 14 Upgrade
  .eslintrc.json
  .gitignore
  .lintstagedrc.js
  angular.json
  package.json
  projects/testing/.eslintrc.json
  projects/testing/package.json
  projects/testing/tsconfig.lib.json
  projects/testing/tslint.json
  src/app/app.component.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, ng lint ngx-translate-plugins --fix --files

Preparing for ngx-translate-testing 6.1.0
  projects/testing/README.md
Due: none

Update LanguageTranslation to allow a string array value (#60)
  projects/testing/src/lib/translations.model.ts
Due: prettier --write, ng lint testing --fix

Release/6.1.0 (#61)
  .eslintrc.json
  .gitignore
  .lintstagedrc.js
  angular.json
  package.json
  projects/testing/.eslintrc.json
  projects/testing/README.md
  projects/testing/package.json
  projects/testing/tsconfig.lib.json
  projects/testing/tslint.json
  src/app/app.component.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, ng lint ngx-translate-plugins --fix --files

feat(testing.module, README): Add translate parser support
  projects/testing/README.md
  projects/testing/src/lib/testing.module.spec.ts
  projects/testing/src/lib/testing.module.ts
Due: prettier --write, ng lint testing --fix

feat(testing.module, README): Add translate parser support (#76)
  projects/testing/README.md
  projects/testing/src/lib/testing.module.spec.ts
  projects/testing/src/lib/testing.module.ts
Due: prettier --write, ng lint testing --fix

Updating to Angular 15
  angular.json
  package.json
  projects/testing/src/test.ts
  projects/testing/tsconfig.lib.json
  src/test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, ng lint ngx-translate-plugins --fix --files, ng lint testing --fix

Upgraded to Angular 16
  package.json
  projects/testing/package.json
  yarn.lock
Due: none

Feature/ng16 (#78)
  angular.json
  package.json
  projects/testing/package.json
  projects/testing/src/test.ts
  projects/testing/tsconfig.lib.json
  src/test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, ng lint ngx-translate-plugins --fix --files, ng lint testing --fix

Preparing for release 7.0.0
  projects/testing/README.md
  projects/testing/package.json
  projects/testing/tsconfig.lib.json
Due: none

Release 7.0.0 (#79)
  projects/testing/README.md
  projects/testing/package.json
  projects/testing/tsconfig.lib.json
Due: none

chore: Updating Node versions for dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore(*): fix vulnearibilities
  package-lock.json
  package.json
  yarn.lock
Due: none

feat(*): upgrade to angular 20 fix vulnerabilities #VMC-28238
  .browserslistrc
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  src/polyfills.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, ng lint ngx-translate-plugins --fix --files

Bumped testing peer dependencies to 18
  projects/testing/package.json
Due: none

Path conditions:
  prettier --write: ((any of: src/**/*.ts) or (any of: projects/testing/src/**/*.ts)) or (any of: projects/missing-translations/src/**/*.ts)
  ng lint ngx-translate-plugins --fix --files: any of: src/**/*.ts
  ng lint testing --fix: any of: projects/testing/src/**/*.ts
  ng lint missing-translations --fix: any of: projects/missing-translations/src/**/*.ts
